* {
  color: white;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
  width: 100vw;
  background: url(https://hollowknightv1.up.railway.app/assets/banner-90b4948c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  height: 500px;
  width: 350px;
  margin: 10px;
  border-radius: 3px;
}

.header-card {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 40%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 0.5em; */
  align-items: center;
}

.header-card h3 {
  font-size: 1.2em;
  font-weight: 400;
}

.home-btn {
  width: 30%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-search {
  opacity: 0.9;
  position: absolute;
  width: 40%;
  height: 10%;
  top: 10%;
  left: 55%;
  right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.search-btn {
  width: 20%;
}

.card:hover {
  opacity: 0.9;
  cursor: pointer;
}

.card * {
  visibility: hidden;
}

.card:hover * {
  visibility: visible;
}

#boss-content {
  padding: 10px;
  background-color: #011225;
}

#boss-details {
  width: 60%;
  margin: auto;
  background-color: #adc5d9;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

#boss-details * {
  color: #011225;
}

#boss-details #health,
#boss-details #location {
  font-weight: 650;
}

#boss-details #description {
  font-style: italic;
}

#boss-details #image {
  height: 700px;
  object-fit: cover;
  border-radius: 5px;
}
